@model DataAccessLayer_DAL.Models.Blog
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Blog Banner-->
<div class="blogbanner" style="background: url('https://localhost:44369/@Model.Image');">
	<div class="blogbanner-content">
		<h1>@Model.Title</h1>
		<ul class="entry-meta meta-item">
			<li class="date-icon"><i class="fa-solid fa-calendar-days"></i> @Model.CreatedAt?.ToString("MMMM d, yyyy")</li>
		</ul>
	</div>
</div>
<!--/Blog Banner-->
<!--Blog Content-->
<div class="blogdetail-content">
	<div class="container">
		@Html.Raw(Model.Content)
		<div class="share-postsection">
			<div class="row">
				<div class="col-lg-4">
					<div class="sharelink">
						<a href="javasvript:void();" class="share-img"><i class="fas fa-light fa-share-nodes"></i></a>
						<a href="javasvript:void();" class="share-text">Share</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/Blog Content-->

