@model DataAccessLayer_DAL.Models.User
@{
    ViewData["Title"] = "Detail User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var img = Model.Image;
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
}

<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Profile</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->
<!-- Profile Content -->
<div class="dashboard-content listing-section ">
    <div class="container">
        <div class="">
            <ul class="dashborad-menus">
                <li>
                    <a asp-controller="User" asp-action="Index">
                        <i class=" feather-grid"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Detail">
                        <i class="fa-solid fa-user"></i> <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="ChangePassword">
                        <i class="feather-lock"></i> <span>Change Password</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Listing">
                        <i class="feather-list"></i> <span>My Listing</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="BookMark">
                        <i class="feather-bookmark"></i> <span>BookMark</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Subscription">
                        <i class="feather-list"></i> <span>My Subscription</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Logout">
                        <i class="fas fa-light fa-circle-arrow-left"></i> <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="profile-content">
            <div class="row dashboard-info  d-flex justify-content-center">
                <div class="col-lg-11">
                    <div class="card dash-cards"> 
                        <form asp-controller="User" asp-action="Index" method="post" enctype="multipart/form-data">
                            <div class="card-header">
                                <h4>Profile Details</h4>
                            </div>
                            <div class="card-body">
                                <div class="profile-photo">
                                    <div class="profile-img">
                                        <div class="settings-upload-img">
                                            <img src="/@img" alt="profile">
                                        </div>
                                        <div class="settings-upload-btn">
                                            <input type="file" name="file" class="hide-input image-upload" id="file">
                                            <label for="file" class="file-upload">Upload New photo</label>
                                        </div>
                                        <span>Max file size: 10 MB</span>
                                    </div>
                                </div>
                                <div class="profile-form">
                                    <input type="hidden" asp-for="UserId" />
                                    <input type="hidden" asp-for="Role" />
                                    <input type="hidden" asp-for="Status" />
                                    <input type="hidden" asp-for="Password" />
                                    <input type="hidden" asp-for="Image" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    @if (!ViewData.ModelState.IsValid)
                                    {
                                        <div class="alert alert-danger">
                                            <ul>
                                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                                {
                                                    <li>@error.ErrorMessage</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    <div class="form-set">
                                        <label class="col-form-label">Your Full Name</label>
                                        <div class="pass-group group-img">
                                            <span class="lock-icon"><i class="feather-user"></i></span>
                                            <input type="text" class="form-control" asp-for="FullName">
                                            <span asp-validation-for="FullName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-set">
                                                <label class="col-form-label">Phone Number</label>
                                                <div class="pass-group group-img">
                                                    <span class="lock-icon"><i class="feather-phone-call"></i></span>
                                                    <input type="text" class="form-control" asp-for="PhoneNumber">
                                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-set">
                                                <label class="col-form-label">Email Address</label>
                                                <div class="group-img">
                                                    <i class="feather-mail"></i>
                                                    <input type="text" class="form-control" asp-for="Email">
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-set">
                                        <label class="col-form-label">Addres</label>
                                        <div class="pass-group group-img">
                                            <textarea rows="2" class="form-control" asp-for="Address"></textarea>
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit" value="save">Update</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>
<!-- /Profile Content -->