@{
    ViewData["title"] = "Create Category Admin Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
@model DataAccessLayer_DAL.Models.Category
<div class="row">
    <div class="col-lg-7 col-sm-12 m-auto">
        <div class="content-page-header">
            <h5>Edit Categories</h5>
        </div>
        
        <form asp-controller="Category" asp-action="Edit" method="post">
            <input type="hidden" asp-for="CategoryId" />
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-set">
                        <label>Category Name </label>
                        <input type="text" asp-for="Name" class="form-control" placeholder="Category Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-set">
                        <label>Description </label>
                        <input type="text" asp-for="Description" class="form-control" placeholder="Description">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-set">
                        <label>Status</label>
                        <ul class="custom-radiosbtn">
                            <li>
                                <label class="radiossets">
                                    Active
                                    <input type="radio" checked="checked" asp-for="Status" value="1">
                                    <span class="checkmark-radio"></span>
                                </label>
                            </li>
                            <li>
                                <label class="radiossets">
                                    Inactive
                                    <input type="radio" asp-for="Status" value="0">
                                    <span class="checkmark-radio"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="btn-path">
                        <a asp-action="Index" class="btn btn-cancel me-3">Cancel</a>
                        <button type="submit" class="btn btn-submit "> Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>