<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewData["title"]</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <!-- Aos CSS -->
    <link rel="stylesheet" href="~/assets/plugins/aos/aos.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

    <!-- Fearther CSS -->
    <link rel="stylesheet" href="~/assets/css/feather.css">

    <!-- Owl carousel CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>

    <div class="main-wrapper">
        <!-- Header -->
        <header class="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg header-nav">
                    <div class="navbar-header">
                        <a id="mobile_btn" href="javascript:void(0);">
                            <span class="bar-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </a>
                        <a href="/" class="navbar-brand logo">
                            <img src="~/assets/img/icons/logo.svg" class="img-fluid" alt="Logo">
                        </a>
                        <a href="index.html" class="navbar-brand logo-small">
                            <img src="~/assets/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                    </div>
                    <div class="main-menu-wrapper">
                        <div class="menu-header">
                            <a href="index.html" class="menu-logo">
                                <img src="~/assets/img/logo.png" class="img-fluid" alt="Logo">
                            </a>
                            <a id="menu_close" class="menu-close" href="javascript:void(0);">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                        <ul class="main-nav">
                            <li class="megamenu">
                                <a asp-action="Index" asp-controller="Home">Home <i class="fas"></i></a>
                            </li>
                            <li class="">
                                <a asp-action="Index" asp-controller="Listing">Listings <i class="fas"></i></a>
                            </li>
                            <li class="">
                                <a asp-action="Plan" asp-controller="Home">Plans <i class="fas"></i></a>
                            </li>
                            <li class="">
                                <a asp-action="AboutUs" asp-controller="Home">About Us <i class="fas"></i></a>
                            </li>
                            <li class="">
                                <a asp-action="Blog" asp-controller="Home">Blog</a>
                            </li>
                            <li class="">
                                <a asp-action="Contact" asp-controller="Home">Contact <i class="fas"></i></a>
                            </li>
                            <li class="">
                                <a asp-action="FaQ" asp-controller="Home">FaQ <i class="fas"></i></a>
                            </li>
                            <li class="">
                                <a asp-action="Pricing" asp-controller="Home">Pricing <i class="fas"></i></a>
                            </li>
                        </ul>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav header-navbar-rht">
                            <li class="nav-item">
                                <a class="nav-link add-listing" asp-controller="Listing" asp-action="Create"><span><i class="fa-solid fa-plus"></i></span>Add Listing</a>
                            </li>
                            <li class="nav-item dropdown has-arrow logged-item">
                                <a href="#" class="dropdown-toggle profile-userlink" data-bs-toggle="dropdown" aria-expanded="false">
                                    
                                    @{
                                        var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
                                        var image = User.FindFirst("ProfileImage")?.Value;
                                    }
                                    <img src="/@image">
                                    <span>@User.Identity.Name</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" asp-controller="User" asp-route-id="@userId">Profile</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav header-navbar-rht">
                            <li class="nav-item">
                                <a class="nav-link header-reg" asp-controller="Home" asp-action="SignUp">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link header-login" asp-controller="Home" asp-action="Login"> Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link add-listing" asp-controller="Listing" asp-action="Create"><i class="fa-solid fa-plus"></i>Add Listing</a>
                            </li>
                        </ul>
                    }
                </nav>
            </div>
        </header>
        <!-- /Header -->
        <!-- Main -->
        @RenderBody()
        <!-- /Main -->
        <!-- Footer -->
        <section class="footer-six footer-nine">
            <div class="footer-six-bg footer-nine-bg">
                <img src="~/assets/img/bg/footer-bg.png" alt="">
            </div>
            <div class="container">
                <div class="footer-six-top footer-nine-top">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="footer-six-right">
                                <div class="footer-send-mail">
                                    <input type="text" class="form-control" placeholder="Subscribe to Get Updates">
                                    <a href="javascript:void(0);">Send mail</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="footer-six-center foot-nine-list">
                                <div class="footer-six-center-content">
                                    <h6>Our Total Visitors</h6>
                                    <a href="javascript:void(0);">4,56,6597</a>
                                </div>
                                <div class="footer-six-center-content">
                                    <h6>Need live support?</h6>
                                    <a href="javascript:void(0);"><span class="__cf_email__" data-cfemail="e884819b9c8d8da88d90898598848dc68b8785">[email&#160;protected]</span></a>
                                </div>
                                <div class="footer-six-center-content">
                                    <h6>Toll Free Customer Care</h6>
                                    <a href="javascript:void(0);">+91 26447 99875</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" row position-relative">
                    <div class="col-lg-4 col-md-6  col-sm-12">
                        <div class="foot-nine-logo">
                            <a href="index-9.html"><img src="~/assets/img/footer-logo-nine.svg" alt=""></a>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard...</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-six-top-list">
                            <h4>Discover</h4>
                            <ul>
                                <li><a href="javascript:void(0);">Chicago</a></li>
                                <li><a href="javascript:void(0);">Los Angeles</a></li>
                                <li><a href="javascript:void(0);">Miami</a></li>
                                <li><a href="javascript:void(0);">New York</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-six-top-list">
                            <h4>Lists by Category</h4>
                            <ul>
                                <li><a href="javascript:void(0);">Apartments</a></li>
                                <li><a href="javascript:void(0);">Condos</a></li>
                                <li><a href="javascript:void(0);">Houses</a></li>
                                <li><a href="javascript:void(0);">Offices</a></li>
                                <li><a href="javascript:void(0);">Retail</a></li>
                                <li><a href="javascript:void(0);">Villas</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-six-top-list">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="terms-condition.html">Terms & Conditions</a></li>
                                <li><a href="privacy-policy.html">User’s Guide</a></li>
                                <li><a href="contact.html">Support Center</a></li>
                                <li><a href="about.html">Press Info</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="social-icon-six social-icon-nine">
                            <h3>Follow us on</h3>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" target="_blank"><i class="fab fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" target="_blank"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="custom-line foot-nine-line">
                <div class="footer-six-bottom pt-0">
                    <p class="mb-0">© 2023 Listee. All Rights Reserved.</p>
                    <div class="footer-six-center-list">
                        <ul>
                            <li><a href="index-6.html"> Home</a></li>
                            <li><a href="javascript:void(0);"> Site Map</a></li>
                            <li><a href="privacy-policy.html"> Privacy policy</a></li>
                            <li><a href="privacy-policy.html"> Cookie Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Footer -->
    </div>

    <!-- scrollToTop start -->
    <div class="home-nine progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="99px" height="99px" viewBox="0 0 200 200">
            <path d="  M 0, 35.5 C 0, 0 0, 0 35.5, 0 S 71, 0 71, 35.5 71, 71 35.5, 71 0, 71 0, 35.5"
                  style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;">
            </path>
        </svg>
    </div>
    <!-- scrollToTop end -->
    <!-- jQuery -->
    <script data-cfasync="false" src="~/assets/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery-3.7.1.min.js" type="fc1053c9e199526e937fbf6a-text/javascript"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js" type="fc1053c9e199526e937fbf6a-text/javascript"></script>

    <!-- Datetimepicker JS -->
    <script src="~/assets/js/moment.min.js" type="fc1053c9e199526e937fbf6a-text/javascript"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js" type="fc1053c9e199526e937fbf6a-text/javascript"></script>

    <!-- Select2 JS -->
    <script src="~/assets/plugins/select2/js/select2.min.js" type="fc1053c9e199526e937fbf6a-text/javascript"></script>

    <!-- Aos -->
    <script src="~/assets/plugins/aos/aos.js" type="fc1053c9e199526e937fbf6a-text/javascript"></script>

    <!-- Top JS -->
    <script src="~/assets/js/backToTop.js" type="fc1053c9e199526e937fbf6a-text/javascript"></script>

    <!-- Fearther JS -->
    <script src="~/assets/js/feather.min.js" type="ead8df96e267ab1f23fcd5bd-text/javascript"></script>

    <!-- counterup JS -->
    <script src="~/assets/js/jquery.waypoints.js" type="fc1053c9e199526e937fbf6a-text/javascript"></script>
    <script src="~/assets/js/jquery.counterup.min.js" type="fc1053c9e199526e937fbf6a-text/javascript"></script>

    <!-- Sticky Sidebar JS -->
    <script src="~/assets/plugins/theia-sticky-sidebar/ResizeSensor.js" type="ead8df96e267ab1f23fcd5bd-text/javascript"></script>
    <script src="~/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" type="ead8df96e267ab1f23fcd5bd-text/javascript"></script>

    <!-- Fearther JS -->
    <script src="~/assets/js/feather.min.js" type="fc1053c9e199526e937fbf6a-text/javascript"></script>

    <!-- Owl Carousel JS -->
    <script src="~/assets/js/owl.carousel.min.js" type="fc1053c9e199526e937fbf6a-text/javascript"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/script.js" type="fc1053c9e199526e937fbf6a-text/javascript"></script>

    <script src="~/assets/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="fc1053c9e199526e937fbf6a-|49" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
