@{
    ViewData["Title"] = "404";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Listee | Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Aos CSS -->
    <link rel="stylesheet" href="~/assets/plugins/aos/aos.css">

    <!-- Fearther CSS -->
    <link rel="stylesheet" href="~/assets/css/feather.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>


    <div class="mainwrapper error-page">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="error-wrap">

                            <div class="error-logo">
                                <a asp-action="Index" asp-controller="Home"><img class="img-fluid" src="~/assets/img/logo.svg" alt="img"></a>
                            </div>
                            <h2>Something went wrong</h2>
                            <div class="error-img">
                                <img class="img-fluid" src="~/assets/img/404-error.jpg" alt="img">
                            </div>
                            <a asp-action="Index" asp-controller="Home" class="btn btn-primary rounded-pill">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.7.1.min.js" type="5979df834339247c2d852c86-text/javascript"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js" type="5979df834339247c2d852c86-text/javascript"></script>

    <!-- Aos -->
    <script src="~/assets/plugins/aos/aos.js" type="5979df834339247c2d852c86-text/javascript"></script>

    <!-- Fearther JS -->
    <script src="~/assets/js/feather.min.js" type="5979df834339247c2d852c86-text/javascript"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/script.js" type="5979df834339247c2d852c86-text/javascript"></script>

    <script src="~/assets/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="fc1053c9e199526e937fbf6a-|49" defer></script>
</body>
</html>
