
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
	@model EprojectSem3.Models.RegisterModel
}

<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
	<div class="container">
		<div class="row align-items-center text-center">
			<div class="col-md-12 col-12">
				<h2 class="breadcrumb-title">Create an Account</h2>
			</div>
		</div>
	</div>
</div>
<!-- /Breadscrumb Section -->
<!-- Login Section -->
<div class="login-content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-5 mx-auto">
				@if (!ViewData.ModelState.IsValid)
				{
					<div class="alert alert-danger">
						@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
						{
							<p>@error.ErrorMessage</p>
						}
					</div>
				}
				<div class="login-wrap register-form">

					<div class="login-header">
						<h3>Create an Account</h3>
						<p>Lets start with <span>Listee</span></p>
					</div>

					<!-- Login Form -->
					<form asp-action="SignUp" asp-controller="Home" method="post">
						<div class="form-set group-img">
							<div class="group-img">
								<i class="feather-user"></i>
								<input type="text" class="form-control" asp-for="FullName" placeholder="Full Name">
							</div>
							<span asp-validation-for="FullName" class="text-danger"></span>
						</div>
						<div class="form-set group-img">
							<div class="group-img">
								<i class="feather-mail"></i>
								<input type="text" class="form-control" asp-for="Email" placeholder="Email Address">
							</div>
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="form-set">
							<div class="pass-group group-img">
								<i class="feather-lock"></i>
								<input type="password" class="form-control pass-input" asp-for="Password" placeholder="Password">
								<span class="toggle-password feather-eye"></span>
							</div>
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="form-set">
							<div class="pass-group group-img">
								<i class="feather-lock"></i>
								<input type="password" class="form-control pass-input" asp-for="ConfirmPassword" placeholder="Confirm Password">
								<span class="toggle-password feather-eye"></span>
							</div>
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div>
						<div class="form-set group-img">
							<div class="group-img">
								<i class="feather-mail"></i>
								<input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Phone Number">
							</div>
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>
						<div class="form-set group-img">
							<div class="group-img">
								<i class="feather-mail"></i>
								<input type="text" class="form-control" asp-for="Address" placeholder="Address">
							</div>
							<span asp-validation-for="Address" class="text-danger"></span>
						</div>
						<div class="form-set group-img">
							<div class="group-img">
								
								<select asp-for="Role" class="form-control">
									<option value="">Select Role</option>
									@foreach (var role in ViewBag.Role)
									{
										<option value="@role.Value">@role.Text</option>
									}
								</select>
								<span asp-validation-for="Role" class="text-danger"></span>
							</div>
						</div>
						<button class="btn btn-primary w-100 login-btn" type="submit">Create Account</button>
						<div class="register-link text-center">
							<p>Already have an account? <a class="forgot-link" asp-action="Login" asp-controller="Home">Sign In</a></p>
						</div>
					
					</form>
					<!-- /Login Form -->

				</div>
			</div>
		</div>

	</div>
</div>
<!-- /Login Section -->

