
@{
    ViewData["Title"] = "VerifyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-bar">
	<div class="container">
		<div class="row align-items-center text-center">
			<div class="col-md-12 col-12">
				<h2 class="breadcrumb-title">Verify Account</h2>
			</div>
		</div>
	</div>
</div>
<!-- /Breadscrumb Section -->
<!-- Login Section -->
<div class="login-content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-5 mx-auto">
				<div class="login-wrap">
					<div class="login-or">
						<span class="or-line"></span>
						<h3>Welcome </h3>
						<span class="span-or">Account Verify Successfully</span>
					</div>
					<div class="social-login">
						<a asp-action="Login" asp-controller="Home" class="btn btn-apple w-100">Sign In now</a>
					</div>
					<div class="social-login">
						<a asp-action="Index" asp-controller="Home" class="btn btn-google w-100">Back to Home</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>