@model DataAccessLayer_DAL.Models.City

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form asp-action="Edit">
    <div class="row">
        <div class="col-lg-7 col-sm-12 m-auto">
            <input type="hidden" asp-for="CityId" />
            <div class="content-page-header">
                <h5>Edit City</h5>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-set">
                        <label>Country</label>
                        <select class="select" asp-for="RegionId" asp-items="ViewBag.RegionId">
                        </select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-set">
                        <label>City Name</label>
                        <input type="text" class="form-control" placeholder="Enter City Name" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="btn-path">
                        <a asp-action="Index" class="btn btn-cancel me-3">Cancel</a>
                        <button type="submit" class="btn btn-submit" value="Save"> Submit </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
