
@{
    ViewData["Title"] = "ChangePasswordAdmin";
    Layout = null;
    @model Realtors_Portal.Areas.Admin.Models.ChangePasswordAdmin;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>ChangePasswordAdmin</title>
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/assets/admin/assets/img/favicon.png">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/assets/admin/assets/css/feather.html">

    <!-- Select 2 -->
    <link rel="stylesheet" href="~/assets/admin/assets/plugins/select2/css/select2.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/admin/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/admin/assets/plugins/fontawesome/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/admin/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/admin/assets/css/style.css">
</head>
<body>
    <div class="main-wrapper wrapper-login">
        <div class="login-pages">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-12">
                        <div class="login-logo">
                            <img src="~/assets/admin/assets/img/logo-login.png" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 mx-auto">
                        <div class="login-wrap">
                            <div class="login-content">
                                <div class="login-contenthead text-center">
                                    <h5>ChangePassword</h5>
                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @if (ViewBag.error != null)
                                {
                                    @Html.Raw(ViewBag.error)
                                }
                                <form asp-area="Admin" asp-controller="LoginAdmin" asp-action="ChangePassword" method="post">
                                    <div class="login-input">
                                        <div class="form-set group-img">
                                            <div class="group-img">
                                                <i class="feather-mail"></i>
                                                <input type="password" class="form-control" asp-for="NewPassword" placeholder="NewPassword">
                                            </div>
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-set">
                                            <div class="pass-group group-img">
                                                <i class="feather-lock"></i>
                                                <input type="password" class="form-control  pass-input" asp-for="ConfirmPassword" placeholder="ConfirmPassword">
                                                <span class="toggle-password feather-eye"></span>
                                            </div>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <div class="login-button">
                                            <button type="submit" class="btn btn-login">ChangePassword</button>
                                            <a class="btn" asp-controller="Home" asp-action="Index" asp-area="Admin">Back to Home</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/assets/admin/assets/js/jquery-3.7.1.min.js" type="57f155dcdbf8ec53fe4267c0-text/javascript"></script>

    <!-- Select 2 JS-->
    <script src="~/assets/admin/assets/js/select2.min.js" type="57f155dcdbf8ec53fe4267c0-text/javascript"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/admin/assets/plugins/bootstrap/js/bootstrap.bundle.min.js" type="57f155dcdbf8ec53fe4267c0-text/javascript"></script>

    <!-- Custom JS -->
    <script src="~/assets/admin/assets/js/admin.js" type="57f155dcdbf8ec53fe4267c0-text/javascript"></script>
</body>
</html>
