@model DataAccessLayer_DAL.Models.Contact

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form asp-action="Edit">
    <div class="row">
        <div class="col-lg-7 col-sm-12 m-auto">
            <div class="content-page-header">
                <h5>Edit Contact</h5>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li>@error.ErrorMessage</li>
                        }
                    </ul>
                </div>
            }
            <input type="hidden" asp-for="ContactId" />
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-set">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Enter Name" readonly asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-set">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Enter Email" readonly asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-set">
                        <label>Subject</label>
                        <input type="text" class="form-control" placeholder="Enter Subject" readonly asp-for="Subject">
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-set">
                        <label>Content</label>
                        <textarea class="form-control" placeholder="Enter Content" readonly asp-for="Content"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-set">
                        <label>Reply</label>
                        <textarea class="form-control" placeholder="Enter Reply" asp-for="Reply"></textarea>
                        <span asp-validation-for="Reply" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="btn-path">
                        <a asp-action="Index" class="btn btn-cancel me-3">Cancel</a>
                        <button type="submit" class="btn btn-submit" value="Save">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
